{% from 'Diff.twig' import diff %}

<tr class="{{ data.getCssClass() }}">
    <td
            {% if data.getDescription() %}data-toggle="tooltip" data-placement="left"
            data-title="{{ data.getDescription() }}"{% endif %}
    >
        <span>{{ data.getTitle() }}</span>
    </td>

    {% for year in years %}
        <td class="big-data-table-year-column">
            {% set dataSum = data.getSumByYear(year) %}

            {% if dataGroup.isShowPercentageDiffActive() %}
                {% set dataGroupSum = dataGroup.getSumByYear(year) %}
                {% set percentageDiff = dataSum/dataGroupSum*100 %}
                <span class="big-data-table-percentage-diff">({{ percentageDiff|round }}%)</span>
            {% endif %}

            {% if data.isSumTypeAvg() %}Ø{% endif %} {{ data.format(dataSum) }}
        </td>
    {% endfor %}

    {% if showDiff and diff is defined %}
        <td class="big-data-table-year-column">
            {{ diff(data.getDiffOfYear(years[0], years[1]), years[1] == currentYear, data.isInvertColor()) }}
        </td>
    {% endif %}

    {% set i = 0 %}
    {% for month in months %}
        <td>
            {% set dataSum = data.getSumByYearAndMonth(month['year'], month['month']) %}

            {% if dataGroup.isShowPercentageDiffActive() %}
                {% set dataGroupSum = dataGroup.getSumByYearAndMonth(month['year'], month['month']) %}
                {% set percentageDiff = dataSum/dataGroupSum*100 %}
                <span class="big-data-table-percentage-diff">({{ percentageDiff|round }}%)</span>
            {% endif %}

            {{ data.format(dataSum) }}
        </td>

        {% if showDiff and diff is defined %}
            {% set i = i + 1 %}
            {% if i % 2 == 0 %}
                <td>{{ diff(data.getDiffOfMonth(years[0], years[1], month['month']), month['month'] == currentMonth and month['year'] == currentYear, data.isInvertColor()) }}</td>
            {% endif %}
        {% endif %}
    {% endfor %}
</tr>
